# Environment files
.env
.env.*
!.env.example

# Uploads
uploads/

# Go binaries
*.exe
*.test
*.out

# Dependency directories
vendor/

# IDE files
.vscode/
.idea/

# Build outputs
/dist/
/bin/
/pkg/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Database files
*.db
/data/